@import url("./common.css"); 


*{
	margin:0;
	padding:0;
}

select.sel{
	height:80px;
	font-size:13px;
	line-height:100%;
	padding:0px;
	margin:0px;
	border:1px solid #DEB960;
}
.c{padding:0;text-align:center;}
/*
zhaoyanï¿½ï¿½ï¿½ï¿½Î³ï¿½ï¿½ï¿½ï¿½Ã£ï¿½ï¿½ï¿½Ç©ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½?
*/
table.label{
	width:92%;
	border:0px;
	margin:0 auto;
}
table.label td.com{
	background:#FFFAED;
	border-top:1px solid #DEB960;
	border-left:1px solid #DEB960;
	padding-left:15px;
}
td.comimg{
	background:url(../image/biaoqian_lan_r1.gif) no-repeat 1px left;
	width:11px;
}
td.curimg{
	background:url(../image/biaoqian_hua_r1.gif) no-repeat 1px left;
	width:11px;
}
table.label td.cur{
	background:#F5EFCB;
	border-top:1px solid #DEB960;
	border-left:1px solid #DEB960;
	padding-left:15px;
}
table.label a:link {
		text-decoration: underline;
}
table.label a:visited {
		text-decoration: underline;
}
table.label a:hover {
		color: #c90;
		text-decoration: none;
}
.biaoqian-bj-hua{
	background:#FFFAED;
	border-top:1px solid #DEB960;
	border-bottom:1px solid #DEB960;
}
.biaoqian-bj-lan{
	background:#F5EFCB;
	border-top:1px solid #DEB960;
	border-bottom:1px solid #DEB960;
}


body{
	margin:20px auto 20px auto;
}

a.statusnatural{
	font-size: 13px;
	font-family: "ï¿½ï¿½ï¿½ï¿½", sans-serif;
	letter-spacing: 1px;
}
a.statusnatural:link {
	color: #060;
	text-decoration: underline;
}
a.statusnatural:visited {
	color: #060;
	text-decoration: underline;
}
a.statusnatural:hover {
	color: #060;
	text-decoration: none;
}

a.statushalt{
	letter-spacing: 1px;
}
a.statushalt:link {
	color: #c00;
	text-decoration: underline;
}
a.statushalt:visited {
	color: #c00;
	text-decoration: underline;
}
a.statushalt:hover {
	color: #c00;
	text-decoration: none;
}
.statusnatural{
    color: #060;
    text-align:center;
}
.statushalt{
    color: #c00;
    text-align:center;
}
.explain{
	color:#996600;
}
span.explain{
    font-size:13px;
}
span.needstar{
	color:#c00;
    font:12px "ï¿½ï¿½ï¿½ï¿½";
}
.l,.left{text-align:left;padding-left:5px;}
th span.needstar,td span.needstar{
	color:#c00;
    font-size:16px;
    font:16px "ï¿½ï¿½ï¿½ï¿½";
    padding:0 3px;
}

table.none{
    border:0px;
}

table.none td{
    border:0px;
    background:;
}
	table.location{		
		height:39px;
		width:92%;
		border:0px;
		margin:0px auto 8px auto;
	}
	table.loca{
		background:url(../image/head_bg.gif) repeat-x left;
		height:39px;
		float:left;
		border:0px;
	}
	table.loca .title{
		font-family:"ï¿½ï¿½ï¿½ï¿½", sans-serif;
		font-size:16px;
		color:#B19B41;
		letter-spacing:2px;
		word-spacing:2px;
		padding-top:5px;
	}
	table.loca td.right{
		background:url(../image/head_right.gif) no-repeat right;
		height:39px;
		width:13px;
	}
	td.column{
		height:39px;
	}
	
	#explainlogo{
		background:url(../image/explain_logo.gif) no-repeat left top;
		height:17px;
		width:92%;
		margin:0px auto;
	}
	
	#explaincenter{
		width:92%;
		border:1px dashed #BC9C49;
		background-color:#F6F6F6;
		margin:0px auto;
	}
	#explaincenter div{
		font-family:ï¿½ï¿½ï¿½ï¿½,Arial,sans-serif;
		color:#000;
        text-align:left;
    }
#explaincenter div.explain{padding:10px;font:12px/140% "";}
  div.teacherinfo{
  		width:92%;
		border:1px dashed #BC9C49;
		background-color:#F6F6F6;
		margin:0px auto;
		padding:10px 0px 10px 0px;
  }
  div.teacherinfo div{
      margin:0 20px 0 20px;
  }
    div.teacherinfo div p{
        margin:15px 0;
        font-size:1.2em;
        letter-spacing:0px;
    }
    #hr{
		margin:1px auto;
		width:92%;
		border-top:1px solid #C49760;
		height:2px;
	}
	
	div.currentcolumn{
		margin:0 auto;
		width:92%;
		height:20px;
	}
	div.currentcolumn h6{
		margin:0px 0 0 0;
		height:10px;
        width:550px;
        float:left;
        font-family:"SimSun","Arial Narrow",Arial,sans-serif;
		font-size: 14px;
		font-weight:normal;
		color: #c00;
		letter-spacing:0.2em;
		vertical-align:middle;
		word-spacing:0.2em;
		padding:0px;		
	}
div.currentcolumn div{
    width:250px;
    float:right;
    text-align:right;
}

    div.tablenote{
		width:92%;
		height:21px;
		background:#aeaeae url(../image/tablenotebg.gif) repeat-x left bottom;
		margin:0 auto;
	}

	div.tablenote a{
		color:#FFFFCC;
	}
	div.note{
		float:left;
		padding-left:40px;
		min-width:40px;
		line-height:21px;
		vertical-align:bottom;
		background:url(../image/noteli.gif) no-repeat 3px top;
		font-size:13px;
		color:#FFF;
		letter-spacing:2px;
		word-spacing:2px;		
	}
	div.note a:link {
		color: #FFF;
		text-decoration: underline;
	}
	div.note a:visited {
		color: #FFF;
		text-decoration: underline;
	}
	div.note a:hover {
		color: #c00;
		text-decoration: none;
	}
	
	div.right{
		float:right;
		background:url(../image/tablenoteright.gif) no-repeat right top;
		width:20px;
		height:21px;
	}
	
	table.nestingborder{
		width:92%;
		margin:0 auto;
		border:1px solid #DEB960;
		background-color:#FFF;		
	}
	table.nestingborder .leftbg{
		background:url(../image/homeworkornament.gif) no-repeat 3px 5px;
	}
	table.nestingborder table{
		margin:5px 5px 5px 100px;
		border:1px dashed #C49760;
		float:right;
		width:85%;
	}
	
	table.nestingborder th.br{
		background-color:#F5EFCB;
		border-right:1px solid #DEB960;
		border-bottom:1px solid #DEB960;
		padding-left:10px;
		height:25px;
	}
	table.nestingborder th.r{
		background-color:#F5EFCB;
		border-right:1px solid #DEB960;
		padding-left:10px;
		height:25px;
	}
	table.nestingborder td.br{
		background-color:#EEE;
		border-right:1px solid #DEB960;
		border-bottom:1px solid #DEB960;
		padding-left:5px;
	}
	table.nestingborder td.r{
		background-color:#EEE;
		border-right:1px solid #DEB960;
		padding-left:5px;
	}
	table.nestingborder td.b{
		background-color:#EEE;
		border-bottom:1px solid #DEB960;
		padding-left:5px;
	}
	table.nestingborder td.none{
		background-color:#EEE;
		padding-left:5px;
	}
	
	table.infotable_vt{
		width:92%;
		margin:0 auto;
		padding:0px;
		border-top:1px solid #DEB960;
		border-left:1px solid #DEB960;
		background-color:#FFF;
	}

    table.infotable_vt th.caption{
        font-weight:bold;
    }
    table.infotable_vt th{
		border-right:1px solid #DEB960;
		border-bottom:1px solid #DEB960;
		background-color:#F5EFCB;
		padding-left:10px;
		font-weight:normal;
	}
	table.infotable_vt td{
		border-right:1px solid #DEB960;
		border-bottom:1px solid #DEB960;
		background-color:#EEE;
		padding-left:5px;
	}
     table.infotable_vt td p{

         letter-spacing:0px;
         margin:15px 5px;
     }
table.infotable_vt td span,table.infotable_vt td a,table.infotable_vt td div{
       letter-spacing:0px;
}
 table.infotable_vt td span.explain{
     font-size:13px;
 }
    table.infotable_vt a.infolist:link {
        font-size:13px;
        text-decoration: underline;
	}
	table.infotable_vt a.infolist:visited {
		font-size:13px;
        text-decoration: underline;
	}
	table.infotable_vt a.infolist:hover {
		color: #c90;
        font-size:13px;
        text-decoration: none;
	}

	table.infotable_vt input{
		border:1px solid #DEB960;
		background-color:#FFF;
		height:16px;
	}

	table.infotable_vt input.none{
		border:0px;
		background-color:Transparent;
	}
	
	td b{
		color:#c00;
		font-size:13px;
		font-weight:normal;
	}
	
	table.infotable_bw_vt{
		width:92%;
		margin:0 auto;
		padding:0px;
		border-top:1px solid #DEB960;
		border-left:1px solid #DEB960;
		border-bottom:1px solid #DEB960;
		background-color:#FFF;
	}
	table.infotable_bw_vt th{
		border-right:1px solid #DEB960;
		border-bottom:1px solid #FFF;
		background-color:#F5EFCB;
		padding-left:10px;
		font-weight:normal;		
	}
	table.infotable_bw_vt th.top{
        vertical-align:top;
        padding-top:5px;
    }
    table.infotable_bw_vt td{
		border-right:1px solid #DEB960;
		border-bottom:1px solid #FFF;
		background-color:#EEE;
		padding-left:2px;
        line-height:21px;
	}
    table.infotable_bw_vt td table td{
         padding:0px;
    }
    table.infotable_bw_vt td.text{
        padding:10px;
        font-size:1.2em;
        letter-spacing:0px;
    }
    table.infotable_bw_vt td.text div ,table.infotable_bw_vt td.text a,table.infotable_bw_vt td.text span{
        font-size:1.2em;
        letter-spacing:0px;
    }
    table.infotable_bw_vt td.text p{
        margin:15px 0;
    }
    table.infotable_bw_vt td.noborder{
		background-color:#EEE;
		border-right:1px solid #EEE;
	}
	table.infotable_bw_vt input{
		border:1px solid #DEB960;
		background-color:#FFF;
	}
	table.infotable_bw_vt input.none{
	    border:0px;
	    background-color:Transparent;
	}
	table.infotable_bw_vt a.infolist:link {
		text-decoration: underline;
	}
	table.infotable_bw_vt a.infolist:visited {
		text-decoration: underline;
	}
	table.infotable_bw_vt a.infolist:hover {
		color: #c90;
		text-decoration: none;
	}
	
	
	table.infotable_hr{
		width:92%;
		margin:0 auto;
		border-bottom:1px solid #fff;		
	}
	table.infotable_hr th{
		border-right:1px solid #fff;
		border-bottom:2px solid #FFDD75;
		text-align:center;
		background-color:#AEAEAE;
		color:#FFF;
	}
	table.infotable_hr th a:link {
		color:#FFF;
	    text-decoration: underline;
    }
    table.infotable_hr th  a:visited {
		color:#FFF;
        text-decoration: underline;
    }
    table.infotable_hr th  a:hover {
		color:#FFF;
        text-decoration: none;
    }
	table.infotable_hr td{
		border-right:1px solid #fff;
		border-top:1px solid #fff;
		padding-left:5px;
		background-color:#EBEBEB;
	}
      table.infotable_hr td.qrl{
		border-right:1px solid #fff;
		border-top:1px solid #fff;
		padding-left:5px;
		background-color:#FFDAA2;
	}
      table.infotable_hr td.common{
		border-right:1px solid #fff;
		border-top:1px solid #fff;
		padding-left:5px;
		background-color:#EBEBEB;
	}
	table.infotable_hr td.current{
		border-right:1px solid #fff;
		border-top:1px solid #fff;
		padding-left:5px;
		background-color:#F5EFCB;
	}



	table.infotable_hr_tr{
		width:92%;
		margin:0 auto;
		border-bottom:1px solid #fff;
	}
	table.infotable_hr_tr th{
		border-right:1px solid #fff;
		border-bottom:2px solid #FFDD75;
		text-align:center;
		background-color:#AEAEAE;
		color:#FFF;
	}
	table.infotable_hr_tr tr{
        background-color:#EBEBEB;
    }
    table.infotable_hr_tr tr.common{
        background-color:#EBEBEB;
    }
    table.infotable_hr_tr tr.current{
        background-color:#F5EFCB;
    }
	table.infotable_hr_tr td{
		border-right:1px solid #fff;
		border-top:1px solid #fff;
		padding-left:5px;
	}


	div.infotable_hr{
		margin:1px auto;
		width:92%;
		border-top:1px solid #FFDD75;
		height:1px;
	}
	table.infotable_hr a.infolist:link {
		text-decoration: underline;
	}
	table.infotable_hr a.infolist:visited {
		text-decoration: underline;
	}
	table.infotable_hr a.infolist:hover {
		color: #c90;
		text-decoration: none;
	}
	div.navigation{
        clear:both;
		width:92%;
		margin:0px auto;
		height:25px;
	}
	div.navigation_href{
		float:left;
		height:22px;
		margin-top:3px;
		min-width:300px;
	}
	div.navigation_button{
		float:right;
		margin-top:3px;
		height:22px;
	}
	div.navigation a{
		text-decoration: none;
	}
	div.navigation input{
		border:1px solid #DEB960;
		background-color:#F3F3F1;
		margin:0 2px 0 2px;
		height:16px;
	}
	div.navigation input.none{
		border:0px;
		background-color:#FFF;
		margin:0 2px 0 2px;
		height:16px;
	}
	div.navigation b{
		color:#c00;
        font-weight:normal;
    }
	#diagram{
		width:92%;
		margin:10px auto 0 auto;
		border:1px solid #DEB960;
		background-color:#FFF;		
	}
	#diagramimage{
		padding:10px;
	}
	#diagramtext{
		width:92%;
		margin:0 auto;
	}
	
	div.button{
		width:92%;
		margin:0 auto;
		text-align:right;
		height:22px;
	}
	
	div.title{
		width:92%;
		margin:10px auto 0 auto;
		background-color:#EEE;
		border:1px solid #DEB960;
		text-align:center;
		vertical-align:middle;
		height:28px;
	}
	div.hr{
		width:92%;
		margin:0 auto;
		margin-top:6px;
		border-bottom:1px solid #DEB960;
	}
	
	div.titlespace{
		width:92%;
		margin:0 auto;
		border:1px solid #FFF;
		background-color:#F5EFCB;
		height:5px;
	}
	
	table.text{
		width:92%;
		margin:0 auto;		
		border:1px solid #DEB960;
	}
    table.text td{
		background-color:#EEE;
        padding:10px 15px 10px 15px;
        font-size:12px;
        letter-spacing:0px;
    }
table.text td span ,  table.text td p,table.text td a,table.text td div{
        font-size:12px;
        letter-spacing:0px;
    }
    table.text td p{
        margin:15px 0;
    }
	table.text h6{
		font-size:13px;
		line-height:170%;
		font-weight:normal;
		padding:10px 30px 10px 30px;
		color:#000;
	}
	table.text h6 p{
		line-height:180%;
	}

	/*ï¿½ï¿½Ñ§ï¿½ï¿½Ö¾*/
	div.title_center{
	    width:92%;
	    margin:0 auto;
	    border:1px solid #DEB960;
	    background-color:#EEEEEE;
	    height:25px;
	    text-align:center;
	    color:#CC0000;
	    font-size:14px;
	    letter-spacing:1px;
	    padding-top:4px;
	}
	div.data_center{
	    width:92%;
	    margin:0 auto;
	    border:1px solid #FFF;
	    background-color:#F7F1D2;
	    height:19px;
	    text-align:center;
	    color:#000;
	    padding-top:2px;
	}


/*ï¿½ï¿½ï¿½ï¿½*/
table.search{
	border:1px solid #DEB960;
	width:92%;
	margin:0 auto 8px auto;
}
table.search td{
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF;
	background-color:#EEE;
	padding-right:10px;
	height:23px;
	text-align:right;
}
table.search input{
	border:1px solid #DEB960;
	background-color:#FFF;
	letter-spacing:2px;
	height:17px;
}
table.search input.none{
	border:0px;
    background-color:Transparent;
}

/*ï¿½Ðºï¿½ï¿½ï¿½titleï¿½ï¿½ï¿½Ð±ï¿½*/
table.infotable_title_vt{
	width:92%;
	margin:0 auto;
	border:1px solid #DEB960;
}
table.infotable_title_vt a.infolist:link {
		text-decoration: underline;
	}
table.infotable_title_vt a.infolist:visited {
		text-decoration: underline;
	}
table.infotable_title_vt a.infolist:hover {
		color: #c90;
		text-decoration: none;
	}
table.infotable_title_vt th.start{
	border-right:1px solid #FFF;
	border-bottom:2px solid #FFDD75;
	background-color:#AEAEAE;
	height:19px;
	text-align:center;
	color:#FFF;
}
table.infotable_title_vt th.end{
	border-bottom:2px solid #FFDD75;
	background-color:#AEAEAE;
	height:19px;
	text-align:center;
	color:#FFF;
}

table.infotable_title_vt td.yellow{	
	border-bottom:1px solid #FFF;
	border-right:1px solid #FFF;
	background-color:#F5EFCB;
	height:19px;
	padding-left:15px;
	vertical-align:top;
	padding-top:5px;
}
table.infotable_title_vt td.gray{
	border-bottom:1px solid #FFF;
	background-color:#EBEBEB;
	height:19px;
	text-indent:5px;
}
table.infotable_title_vt td.gray_br{
	border-bottom:1px solid #FFF;
	border-right:1px solid #FFF;
	background-color:#EBEBEB;
	height:19px;
	text-indent:5px;
}

/*
qiruili add index
*/

table.infotable_title_vt td.yellowindex{
	border-bottom:1px solid #FFF;
	background-color:#F5EFCB;
	height:19px;
	padding-left:15px;
	vertical-align:top;
	padding-top:5px;
}
table.infotable_title_vt td.grayindex{
	border-bottom:1px solid #FFF;
	border-left:1px solid #FFF;
	background-color:#EBEBEB;
	height:19px;
	text-indent:5px;
}

table.infotable_title_vt td input.input{
	border:1px solid #DEB960;
	background-color:#FFF;
	height:17px;	
}


table.oddrow{
	width:92%;
	margin:0 auto;
	border-top:1px solid #DEB960;
	border-bottom:2px solid #DEB960;
	border-left:1px solid #DEB960;
	border-right:2px solid #DEB960;
}
table.oddrow td{
	heigth:20px;
	background-color:#EBEBEB;
	padding-left:30px;
	letter-spacing:2px;	
}
table.oddrow input{
	border:1px solid #DEB960;
	background-color:#FFF;
	height:17px;
}

table.subject{
	width:92%;
	border:1px solid #DEB960;
	margin:0 auto;
}
table.subject th{
	border-bottom:1px solid #FFF;
	background-color:#F5EFCB;
	padding-left:15px;
	letter-spacing:2px;
	height:22px;
}
table.subject td{
	border-bottom:1px solid #FFF;
	background-color:#EBEBEB;
	letter-spacing:2px;
	height:22px;
	padding-left:30px;
	padding-right:10px;
	line-height:150%;
}
table.subject th #key{
	background:url(../image/key.gif) no-repeat left;
	padding-left:30px;
	padding-top:4px;
	width:15%;
	color:#C00;
}


table.investigate{
	width:92%;
	border-left:1px solid #DEB961;
	border-top:1px solid #DEB961;
	border-right:1px solid #DEB961;
	margin:0 auto;
}
table.investigate th.title{
	border-bottom:1px solid #DEB961;
	background: url(../image/investigate_li.gif) no-repeat 15px 8px #F5EFCB;
	padding-left:25px;	
}
table.investigate th a:link {
	color: #900;
	text-decoration: underline;
}
table.investigate th a:visited {
	color: #900;
	text-decoration: underline;
}
table.investigate th a:hover {
	color: #c00;
	text-decoration: none;
}
table.investigate td.content{
	border-bottom:1px solid #DEB961;
	background-color:#F5EFCB;
	padding:10px;
}

table.viewinvestigate{
	width:100%;
	border:1px solid #DEB961;
}
table.viewinvestigate th{
	background:#AEAEAE;
	border-bottom:2px solid #FFDD75;
	border-right:1px solid #FFF;
	text-align:center;
	color:#FFF;
}
table.viewinvestigate th.end{
	background:#AEAEAE;
	border-right:1px solid #C8C8C8;
	text-align:center;
}
table.viewinvestigate td{
	background:#EBEBEB;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
}
table.viewinvestigate td.number{
	background:#EBEBEB;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
}
table.viewinvestigate td.title{
	background:#F5EFCB;
	border-bottom:1px solid #fff;
	padding-left:10px;
}
table.viewinvestigate td.cutline{
	border-bottom:1px solid #fff;
	padding:10px 40px 10px 40px;
}
table.viewinvestigate td.cutline table{
	width:100%;
	border:0px;
}
table.viewinvestigate td.cutline table td{
	padding:0px;
	border-width:0px 0px 0px 0px;
	margin:0px;
}
table.viewinvestigate td.cutline table td.lengthways{
	background:url(../image/border.gif) repeat-y 5px top;
	height:7px;
}
table.viewinvestigate td.cutline table td.transverse{
	background:url(../image/border.gif) repeat-x left 3px;
	height:7px;
}
table.viewinvestigate td.cutline table td.proportion{
	padding-top:20px;
	padding-bottom:10px;
}

table.viewcommenton{
	width:92%;
	border-top:1px solid #DEB961;
	border-left:1px solid #DEB961;
	border-right:1px solid #DEB961;
	margin:0 auto;
}
table.viewcommenton th{
	background:url(../image/conmenton_li.gif) no-repeat 15px 5px #AEAEAE;
	padding-left:35px;
	color:#FFF;
	letter-spacing:2px;
}
table.viewcommenton td.yellow{
	background-color:#F5EFCB;
	border-right:1px solid #DEB960;
	border-bottom:1px solid #DEB960;
	text-align:center;
	line-height:180%;
}
table.viewcommenton td.gray_b{
	background-color:#F6F6F6;
	border-bottom:1px solid #DEB960;
	text-align:left;
	line-height:150%;
	padding:8px 10px 8px 10px;	
}
table.viewcommenton td.white_b{
	background-color:##FFF;
	border-bottom:1px solid #DEB960;
	text-align:left;
	line-height:150%;
	padding:8px 10px 8px 10px;		
}



.indentten{
	padding-left:10px;
}
.indentfifteen{
	padding-left:15px;
}
.indentten{
	padding-left:10px;
}
.nostyle{
	none;
}


/*
 *exam
 */
div.examsubmenu{
	margin:0 auto;
	width:92%;
	background:#AEAEAE;
	border-bottom:2px solid #FFDD75;
	border-right:1px solid #FFDD75;
}
div.examsubmenu div{
	text-align:center;
	letter-spacing:2px;
	color:#FFFFFF;
}
div.examsubmenu div a{
	font:"????", sans-serif 13px/150%;
}
div.examsubmenu div a:link {
	color:#FFF;
	text-decoration: none;
}
div.examsubmenu div a:visited {
	color:#FFF;
	text-decoration: none;
}
div.examsubmenu div a:hover {
	color:#FF9;
	text-decoration: underline;
}
div.examsubmenu div a.cur:link {
	color:#FF9;
	text-decoration: underline;
}
div.examsubmenu div a.cur:visited {
	color:#FF9;
	text-decoration: underline;
}
div.examsubmenu div a.cur:hover {
	color:#FF9;
	text-decoration: none;
}

table.examsketchmap{
	width:92%;
	margin:0 auto;
	border-top:1px solid #DEB960;
	border-left:1px solid #DEB960;
}
table.examsketchmap th{
	background:url(../image/examthbg.jpg) repeat-x left 1px #F5EFCB;
	border-bottom:1px solid #DEB960;
	border-right:1px solid #DEB960;
	height:19px;
	text-align:center;
	color:#666;
}
table.examsketchmap td.content{
	background:#F5EFCB;
	border-bottom:1px solid #DEB960;
	border-right:1px solid #DEB960;
}

table.examsketchmap td.content table{
	width:100%;
	border:0px;
}
table.examsketchmap td.content table tr.white{
	background:#FFFFFF;
}
table.examsketchmap td.content table td.left{
	padding-left:5px;
	border-right:1px solid #DEB960;
	border-bottom:1px solid #DEB960
}
table.examsketchmap td.content table td.end{
	padding-left:5px;
	border-bottom:1px solid #DEB960
}
table.examsketchmap td.content table td.end span.yes{font-weight:bold;}
table.examsketchmap td.content table td a:link {
	color:#990000;
	text-decoration: underline;
}
table.examsketchmap td.content table td a:visited {
	color:#990000;
	text-decoration: underline;
}
table.examsketchmap td.content table td a:hover {
	color:#990000;
	text-decoration: none;
}
table.examsketchmap td.pad{
	background:#F5EFCB;
	border-bottom:1px solid #DEB960;
	border-right:1px solid #DEB960;
	padding:10px 15px;
	text-align:center;
}
table.examsketchmap td.pad table.img{
	widht:100%;
	border:0px;
}
table.examsketchmap td.pad table.img td{
	text-align:center;
}
table.examsketchmap td.pad table.img td img{
	border:1px solid #DEB960;
	background:#FFFFFF;
	padding:5px;
}

table.examsubject{
	margin:0 auto;
	width:92%;
	border:1px solid #DEB960;
}
table.examsubject th{
	border-top:1px solid #DEB960;
	border-bottom:1px solid #DEB960;
	background:#F5EFCB;
	padding-left:28px;
}
table.examsubject td.E{
	border-bottom:1px solid #fff;
	background:#EEEEEE;
	padding-left:15px;
}
table.examsubject td.F{
	border-bottom:1px solid #DEB960;
	background:#ffffff;
	padding-left:35px;
}
table.examsubject td.Fimg{
	border-bottom:1px solid #DEB960;
	background:url(../image/key.gif) no-repeat 15px 5px #ffffff;
	padding-left:35px;
}
table.examsubject td div{
	color:#C00;
	line-height:180%;
}
table.examsubject td.E div{
	padding:5px 15px 2px 0px;
}
table.examsubject td.E div table{
	width:95%;
	border-top:1px solid #DEB960;
	border-left:1px solid #DEB960;
}
table.examsubject td.E div table td{
	text-align:center;
	border-bottom:1px solid #DEB960;
	border-right:1px solid #DEB960;
}
table.examsubject td.E div table td.white{
	background:#FFF;
}
table.examsubject td.E div div{
	text-align:right;
}

table.examtree{
	width:92%;
	border:1px solid #DEB960;
}
table.examtree th{
	text-align:center;
	background:#F5EFCB;
	border-right:1px solid #FFF;
	border-bottom:1px solid #FFF;
}
table.examtree td{
	background:#EEE;
	border-right:1px solid #FFF;
	border-bottom:1px solid #FFF;
}

div.hwcur{
    background:#F5efcc;
}
table.Paging th,table.Paging td{padding:0 1px}
input.classicLookItemsPerPageInputBox{width:25px;border:1px solid #D18C0C}
input.classicLookItemsPerPageSubmitButton{font-size: 12px;
	text-decoration: none;
	letter-spacing: 2px;
	background-image: url(../image/button.gif);
	height: 18px;
	border: 1px solid #D18C0C;
	background-repeat: repeat-x;
	font-family: "ï¿½ï¿½ï¿½ï¿½",sans-serif;
	color: #333333;
	margin-top:2px;}

table.classicLookPaging tr.Paging th{color:#c00;}
table.classicLookPaging a{color:#000;text-decoration:none}

div.datalistc{width:92%;border:0;overflow-x:scroll;overflow-y:hidden;padding-bottom:1px;}
div.datalistc table.infotable_hr{width:100%;}
div.datalistc table.infotable_hr th{white-space : nowrap;}
div.datalistc table.infotable_hr td{text-align:center;white-space : nowrap;}



ul.ss{list-style:none;}
ul.ss li{width:120px;float:left;padding-bottom:3px;}

div.clear{clear:both;font-size:1px;height:1px;overflow:hidden;}
    div.teacherName{border-bottom:1px dashed #DEB960;width:92%;clear:both;margin-bottom:20px;}
    div.teacherName div{padding:10px 0 0px 35px;}
    div.teacherName ul{list-style:none;display:block;clear:both;}
	div.teacherName ul li{width:100px;float:left;text-align:left;}
	div.teacherName ul li a{display:block;background:url(../image/x_index_dot1.jpg) left 4px no-repeat;text-decoration:none;font:12px/160% "";padding-left:20px;letter-spacing:1px;color:#4E3218;}
	div.teacherName ul li a:hover{color:#F60;text-decoration:underline;}

.listvideo{width:93%;margin:0 auto;}
.listvideo .video{width:49%;float:left;min-height:200px;overflow:hidden;position:relative;border:1px dashed #eee;background:#F2f2f2;border-bottom:1px solid #666;margin-bottom:8px;}
.listvideo .videopic{width:200px;height:150px;overflow:hidden;float:left;margin-left:5px;margin-top:10px;border:1px solid #E2E2E2}
.listvideo .videoinfo{float:left;margin-left:10px;display:inline;height:170px;}
.videoinfo li{padding-top:5px;list-style:none;height:15px;overflow:hidden;}
.listvideo .videoctrl{clear:both;text-align:center;background:#E2E2E2;line-height:30px;font-size:1px}
.videoctrl li{display:-moz-inline-stack;display:inline-block;*display:inline;*zoom:1;margin-right:5px;margin-top:3px;vertical-align:top}
.videoctrl a{background-image:url(../image/eol_vblog_ctrl_pic.jpg);background-repeat:no-repeat;text-decoration:none;float:left;width:69px;height:24px;text-indent:-9999px;}
.videoctrl a.ico_proterties{background-position:0 0;}
.videoctrl a.ico_play{background-position:-74px 0;}
.videoctrl a.ico_comment{background-position:-148px 0;}
.videoctrl a.ico_favorite{background-position:-222px 0;}
.videoctrl a.ico_recommend{background-position:-296px 0;}
.videoctrl a.ico_cancelfavorite{background-position:-370px 0;width:90px}


.star-rating{
list-style:none;
margin: 0px;
padding:0px;
width: 150px;
height: 30px;
position: relative;
background: url(../image/star_rating2.gif) top left repeat-x;
}
.star-rating li{
padding:0px;
margin:0px;
/*\*/
float: left;
/* */
}
.star-rating li a{
display:block;
width:30px;
height: 30px;
text-decoration: none;
text-indent: -9000px;
z-index: 20;
position: absolute;
padding: 0px;
}
.star-rating li a:hover{
background: url(../image/star_rating2.gif) left center;
z-index: 2;
left: 0px;
}
.star-rating a.one-star{
left: 0px;
}
.star-rating a.one-star:hover{
width:30px;
}
.star-rating a.two-stars{
left:30px;
}
.star-rating a.two-stars:hover{
width: 60px;
}
.star-rating a.three-stars{
left: 60px;
}
.star-rating a.three-stars:hover{
width: 90px;
}
.star-rating a.four-stars{
left: 90px;
}
.star-rating a.four-stars:hover{
width: 120px;
}
.star-rating a.five-stars{
left: 120px;
}
.star-rating a.five-stars:hover{
width: 150px;
}
.star-rating li.current-rating{
background: url(../image/star_rating2.gif) left bottom;
position: absolute;
height: 30px;
width:90px;
display: block;
text-indent: -9000px;
z-index: 1;
}


 table.sty_button{
        width:92%;
        border:0;
    }
    table.sty_button .sty_td_left{
            font-family:"ËÎÌå", sans-serif;
            font-size: 14px;
            font-weight:normal;
            color: #c00;
            letter-spacing:0.2em;
            vertical-align:middle;
            word-spacing:0.2em;
            padding:0px;
    }
    table.sty_button .sty_td_right{
        text-align:right;
    }

    table.sty_border{
        width:92%;
        border:1px solid #DEB960;
    }
    table.sty_border td{
        padding:2px;
    }

    table.sty_table{
        width:100%;
        border-top:1px solid #FFF;
        border-left:1px solid #FFF;
    }
    table.sty_table td{
        border-right:1px solid #FFF;
        border-bottom:1px solid #FFF;
        background:#EBEBEB;
        text-align:center;
    }

    table.sty_style{
        margin:5px auto;
        border:1px dashed #DEB960;
    }
    table.sty_style td{
        background:#F9F7E3;
        text-align:center;
        font-size:12px;
        padding:0 18px;
    }

  table.sty_style a.styleselect{width:180px;height:120px;display:block;}


